.services {
  padding: 15px 0 50px 0;
  background-color: #FFECE4;
  border-radius: 20px;
  text-align: center;
}

.services_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 20px;
  overflow: auto;
}

.services_container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.veterinaryCard {
  background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%);
}

.veterinaryCard > div{
  position: relative;
  top: 10px;
}

.petGroomingCard {
  background: linear-gradient(180deg, #B8DEFF 0%, #1D97FF 100%);
}


.dogSettingCard {
  background: linear-gradient(180deg, #FFE4AA 0%, #FF9C07 100%);
}

.healthyMealsCard {
  background: linear-gradient(180deg, #AFE6EB 0%, #36BECB 100%);
}

.veterinaryCard_image {
  width: 140px;
  height: 80px;

}



.dogSettingCard_image, .healthyMealsCard_image, .petGroomingCard_image {
  width: 140px;
  height: 100px;
}


@media screen and (min-width: 1150px) {
  .services {
    max-width: 1150px;
    margin: 0 auto;
  }

  .services_container {
    justify-content: center;

  }
  
}